#product-page {
    margin: 0;
}

.product-main {
    max-width: none;
    padding: 0;
}

.product-title {
    margin: 0;
    color: #003765;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
}

.product-header {
    margin: 60px 20px 32px 64px;
}

.product-details {
    margin-left: 64px;
    font-size: 20px;
    color: #003765;
    font-weight: 400;
    line-height: 30px;
}

.product-main-side {
    padding: 0;
}

.product-main-side {
    background-color: #f2f8fb;
}

.product-main-side .product-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

.product-price {
    margin-top: 45px;
    text-align: center;
    color: #003765;
    font-size: 24px;
    font-weight: 700;
}