.product-card {
    margin: 10px;
    min-width: 300px;
}

.product-card a{
    text-decoration: none;
}


.product-card .cover-image {
    width: 100%;
    height: 180px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.product-card .cover-image.empty-cover-image{
    background-color: aliceblue;
    border: 1px solid lightblue;
}

.product-card .cover-image.empty-cover-image:after{
    content: '';
    background-color: white;
    background-position: 12px 12px;
    background-repeat: no-repeat;
    background-image: url('../../../assets/product_image_placeholder_icon.png');
    border-radius: 50%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 44px;  /*height of icon */
    width: 44px;  /*width of icon */
}

.product-card:hover {
    cursor: pointer;
}

.product-card .detail {
    color: #003765;
    padding: 27px 15px;
    border: 1px solid lightblue;
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: background-color .5s ease-in-out;
}

.product-card:hover .detail{
    background-color: #f2f8fb
}

.product-card:hover .cover-image{
    opacity: .7;
}

.product-card .title {
    font-size: 20px;
    font-weight: 700;
    height: 90px;
}

.product-card .price {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 700;
}