<div class="container mt-5">
    <h1>NgCommerce</h1>
    <p>Welcome to the NgCommerce .NET-Angular eCommerce website.</p>
    <h3>Products</h3>


    <div *ngIf="products.length && !productListLoading" class="d-flex flex-wrap">  
        <product-card
            *ngFor="let p of products" 
            [product]="p"></product-card>
    </div>
    <div *ngIf="productListLoading">Please wait...</div>
    <page-stepper
        class="mt-1 mb-3"
        [currentPage]="productsCurrentPage"
        [totalPages]="productsTotalPages"
        [shownPageCount]="5"
        (onPageSelected)="onProductsPageSelected($event)"></page-stepper>
</div>