<h1 id="tableLabel">Products</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!products?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products.length">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.description }}</td>
      <td>{{ p.category }}</td>
    </tr>
  </tbody>
</table>


<div class="container mt-5">
  <div>
    <h4>Add new Product</h4>
  </div>
  <form (ngSubmit)="OnSubmit()" [formGroup]="newProductForm">
    <fieldset [disabled]="!newProductFormAvailable">
      <div>
        <label for="name" class="form-label">Name: </label>
        <input type="text" name="name" id="name" formControlName="name" class="form-control" />
      </div>
      <div>
        <label for="descripion" class="form-label">Description: </label>
        <input type="text" name="description" id="descripion" formControlName="description" class="form-control" />
      </div>
      <div>
        <label for="category" class="form-label">Category: </label>
        <input type="text" name="category" id="category" formControlName="category" class="form-control" />
      </div>
      <div>
        <input type="Submit" name="name" id="name" class="btn btn-primary mt-3" />
      </div>
      <div *ngIf="responseErrorMessage" class="mt-2 alert alert-danger">
        {{ responseErrorMessage }}
      </div>
    </fieldset>
  </form>
</div>
