<h1 id="tableLabel">Products</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!products?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products.length">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.description }}</td>
      <td>{{ p.category }}</td>
    </tr>
  </tbody>
</table>
