@use 'sass:color';
@import '../../colors.scss';

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: $color_primary
}

nav.navbar {
  background-color: $color_primary;

  .left-icons {

    a {
      padding: 10px;
      border: 1px solid $color_light_3;
      border-radius: 50%;

      svg {
        position: relative;
        left: 1px;
      }

      &:hover {
        background-color: $color_light_3;
        cursor: pointer;
        transition: .3s;

        svg {
          fill: $color_1;
        }
      }
    }
  }
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

ul.navbar-nav li a {
  color: $color_light_1;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  &:hover {
    color: $color_accent_2;
  }
}

#cart-preview:not(opened) {
  display: none;
  opacity: 0;
}

#cart-preview.opened {
  display: block;
  opacity: 1;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: color.adjust($color_light_3, $alpha: -0.2);
  overflow: hidden;
  z-index: 200;

  .cart-preview-container {
    background-color: $color_light_1;
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 25px;
    border-radius: 25px;

    .close-btn {
      position: absolute;
      right: 20px;
      top: 30px;
      width: 45px;
      height: 45px;

      a {
        padding: 12px;
        background-color: $color_light_3;
        border-radius: 50%;

        &:hover {
          background-color: color.adjust($color_light_3, $alpha: -0.4);
          cursor: pointer;
        }
      }
    }
  }
}