@import '../../colors.scss';

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: $color_primary
}

nav.navbar {
  background-color: $color_primary;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

ul.navbar-nav li a {
  color: $color_light_1;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  &:hover {
    color: $color_accent_2;
  }
}