/* You can add global styles to this file, and also import other style files */
/* Provide sufficient contrast against white background */

@import 'colors.scss';

a {
  color: $color_primary;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem $color_accent;
}

.btn-primary {
  color: #fff;
  background-color: $color_primary;
  border-color: $color_accent;

 &:hover {
    background-color: $color_accent;
  }
}

body {
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  color: $color_primary;
}